<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}">
</toaster-container>
<div ng-controller="zonasCtrl" ng-init="init()">
	<div class="bg-light lter b-b wrapper-md">
		<h1 class="m-n font-thin h4">
			<i class="fa fa-cubes"></i>
			Zonas
		</h1>
	</div>
	<div class="wrapper-md">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="form-inline ng-pristine ng-valid">
					<span>
						<label>
							Empresas:
						</label>
						<select ng-model="empresa" ng-change="cargarRutas();">
							<option value="">
								Selecione una empresa
							</option>
						    <option ng-repeat="e in empresas" value="{{ e.id }}">
						    	{{ e.nombre }} ({{ e.codigoCooperativa }})
						    </option>
						</select>
					</span>
					&nbsp;
					<span>
						<label>
							Ruta:
						</label>
						<select ng-model="ruta" ng-change="cargarZonas();">
							<option value="">
								Selecione una ruta
							</option>
						    <option ng-repeat="r in rutas" value="{{ r.codigo }}">
						    	{{ r.codigo }}: {{ r.nombre }} ({{ r.identificador }})
						    </option>
						</select>
					</span>
					&nbsp;
					<span>
						<button class="btn btn-sm btn-success" ng-click="cargarZonas();">
							Buscar
						</button>
					</span>
				</div>
			</div>

			<div class="col-md-12">
				<table class="table table-striped m-b-none">
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Orden</th>
							<th>Tiempo (minutos)</th>
							<th>Zona Muerta</th>
							<th>Terminal Principal</th>
							<th>Zona Enlace</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="z in zonas" ng-include="getTemplate(z)">
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="display">
	<td style="vertical-align:middle;">
		{{ $index+1 }}
	</td>
	<td style="vertical-align:middle;">
		{{ z.nombre }}
	</td>
	<td style="vertical-align:middle;">
		{{ z.tipoZona.nombre }} ({{ z.tipoZona.identificador }})
	</td>
	<td style="vertical-align:middle;">
		{{ z.orden }}
	</td>
	<td style="vertical-align:middle;">
		{{ z.tiempo }}
	</td>
	<td style="vertical-align:middle;">
		<input type="checkbox" name="'valida' + $index" ng-checked="z.valida" ng-disabled="true">
	</td>
	<td style="vertical-align:middle;">
		<input type="checkbox" name="'inicioZona' + $index" ng-checked="z.inicioZona" ng-disabled="true">
	</td>
	<td style="vertical-align:middle;">
		<div class="input-group">
		    <select class="form-control" 
		        ng-model="z.zonaEnlace" ng-options="item.nombre for item in zonaz track by item.codigo">
		    </select>
		</div>
	</td>
	<td style="vertical-align:middle;">
		<button ng-click="editContact($index);" class="btn btn-sm btn-info"
			uib-tooltip="Editar" style="width:68px;">
			<i class="fa fa-pencil"></i>
		</button>
	</td>
</script>

<script type="text/ng-template" id="edit">
	<td style="vertical-align:middle;">
		{{ $index+1 }}
	</td>
	<td style="vertical-align:middle;">
		{{ model.selected.nombre }}
	</td>
	<td style="vertical-align:middle;">
		{{ model.selected.tipoZona.nombre }} ({{ model.selected.tipoZona.identificador }})
	</td>
	<td style="vertical-align:middle;">
		{{ model.selected.orden }}
	</td>
	<td style="vertical-align:middle;">
		{{ model.selected.tiempo }}
	</td>
	<td style="vertical-align:middle;">
		<input type="checkbox" name="'valida' + $index" ng-checked="model.selected.valida" ng-model="model.selected.valida">
	</td>
	<td style="vertical-align:middle;">
		<input type="checkbox" name="'inicioZona' + $index" ng-checked="model.selected.inicioZona" ng-model="model.selected.inicioZona">
	</td>
	<td style="vertical-align:middle;">
		<div class="input-group">
		    <select class="form-control"
		        ng-model="model.selected.zonaEnlace" ng-options="item.nombre for item in zonaz track by item.codigo">
		    </select>
		</div>
	</td>
	<td style="vertical-align:middle;">
		<button ng-click="saveContact($index);" class="btn btn-sm btn-info" uib-tooltip="Guardar">
			<i class="fa fa-check"></i>
		</button>
		<button ng-click="reset();" class="btn btn-sm btn-info" uib-tooltip="Cancelar">
			<i class="fa fa-close"></i>
		</button>
	</td>
</script>
