<toaster-container
	toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

<div ng-controller="servicioCtrl">
	<div class="bg-light lter b-b wrapper-md">
		<h1 class="m-n font-thin h4">
			<i class="icon-puzzle"></i> Servicios
		</h1>
	</div>


	<div ng-init="init()">

		<div class="wrapper-md" ng-show="!nuevo">
			<div class="panel panel-info">
				<div class="panel-heading">
					<a class="btn m-b-xs btn-sm btn-success btn-addon"
						ng-click="nuevoItem()"><i class="fa fa-plus"></i>Agregar</a>
				</div>
				<div class="table-responsive" ng-if="servicios!=undefined||null">

					<table class="table table-striped m-b-none">
						<thead>
							<tr>
								<th>#</th>
								<th>Nombre</th>

								<th style="width:  5%"></th>
								<th style="width:  5%"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="s in servicios">
								<td>{{$index+1}}</td>
								<td>{{s.nombre}}</td>
								<td><button class="btn btn-sm btn-icon btn-info"
										ng-click="editarItem(s)" tooltip="Editar registro">
										<i class="fa fa-pencil"></i>
									</button></td>
								<td><button class="btn btn-sm btn-icon btn-danger"
										ng-click="eliminarItem(s)" tooltip="Eliminar registro">
										<i class="fa fa-times"></i>
									</button></td>

							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>

		<!-- FORMULARIO -->
		<div ng-show="nuevo">
			<div class="panel panel-info" draggable="true">
				<div class="panel-heading">
					<a class="btn m-b-xs btn-sm btn-info btn-addon" ng-show="!editar"
						ng-click="guardarItem()" ng-disabled="form.$invalid"
						disabled="disabled"><i class="fa fa-save"></i> Guardar</a> <a
						class="btn m-b-xs btn-sm btn-info btn-addon" ng-show="editar"
						ng-click="actualizarItem()" ng-disabled="form.$invalid"
						disabled="disabled"><i class="fa fa-save"></i> Editar</a> <a
						class="btn m-b-xs btn-sm btn-default btn-addon" ng-show="nuevo"
						ng-click="cancelarItem()"><i class="fa fa-times"></i> Cancelar</a>
				</div>
				<form name="form"
					class="w-full wrapper-md form-validation ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-email ng-valid-validator">
					<div class="col w-full bg-white-only">
						<div class="padder">
							<div class="panel-body">
								<div class="form-group pull-in clearfix ">
									<div class="row">
										<div class="col-sm-5">
											<label>Nombre</label> <input type="text"
												class="form-control  ng-pristine ng-invalid ng-invalid-required ng-touched"
												ng-model="servicio.nombre" required>
										</div>


									</div>

								</div>



							</div>


						</div>
					</div>
				</form>
			</div>
		</div>

	</div>



</div>