<toaster-container
	toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<div ng-controller="cooperativaCtrl" ng-init="init()">
	<div class="bg-light lter b-b wrapper-md">
		<h1 class="m-n font-thin h3">Cooperativas</h1>
	</div>

	<div class="wrapper-md" ng-show="!nuevo">
		<div class="panel panel-info">
			<div class="panel-heading">
				<a class="btn m-b-xs btn-sm btn-success btn-addon"
					ng-click="nuevoItem()"><i class="fa fa-plus"></i>Agregar</a> </span>
			</div>
			<div class="table-responsive" ng-if="items!=undefined||null">

				<table ui-jq="dataTable" class="table table-striped m-b-none"
					ui-options="{oLanguage: {sUrl: 'vendor/jquery/datatables/spanish.txt'}}">
					<thead>
						<tr>
							<th>#</th>
							<th style="width: 10%">Ruc</th>
							<th style="width: 15%">Nombre</th>
							<th style="width: 15%">Direccion</th>
							<th style="width: 15%">Telefono</th>
							<th style="width: 5%"></th>
							<th style="width: 5%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="i in items">
							<td style="width: 1%">{{$index+1}}</td>
							<td style="width: 50%">{{i.ruc}}</td>
							<td style="width: 50%">{{i.nombre}}</td>
							<td style="width: 50%">{{i.direccion}}</td>
							<td style="width: 50%">{{i.telefono}}</td>

							

							<td style="width: 1px">
								<button class="btn btn-sm btn-icon btn-info"
									ng-click="editarItem(i)" tooltip="Editar registro">
									<i class="fa fa-pencil"></i>
								</button>
							</td>
							<td style="width: 1px">
								<button class="btn btn-sm btn-icon btn-danger"
									ng-click="desactivarItem(i)" tooltip="Eliminar registro">
									<i class="fa fa-times"></i>
								</button>
							</td>


						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>


	<!-- FORMULARIO ASIGNAR PERFILES -->
	<div class="col-sm-12" ng-show="perfil">
		<div class="panel panel-info">
			<div class="panel-heading">
				<a class="btn m-b-xs btn-sm btn-default btn-addon" ng-show="nuevo"
					ng-click="cancelarItem()"><i class="fa fa-times"></i> Regresar</a>
			</div>
			<form name="form"
				class="w-full wrapper-md form-validation ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-email ng-valid-validator">
				<div class="col w-full bg-white-only">
					<div class="padder">
						<div class="form-group">
							<label>Nombre</label> <input type="text" disabled="disabled"
								class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched"
								ng-model="item.nombre" required>
						</div>

						<div class="row">
							<div class="col-sm-5 connected" ui-jq="sortable"
								ui-options="{items:'.panel', handle:'.panel-heading', connectWith:'.connected'}">
								<div class="panel panel-info">
									<div class="panel-heading">PERFILES</div>
									<div class="list-group bg-white">
										<a ng-click="selectPerfil(itemPerfil)"
											ng-repeat="itemPerfil in perfiles" href
											class="list-group-item"> <i
											class="glyphicon glyphicon-user"></i>&nbsp;{{itemPerfil.nombrePerfil}}
										</a>
									</div>
								</div>
							</div>

							<div class="col-sm-2 connected">
								<div style="text-align: center">
									<a ng-disabled="!itemPerfil.selected"
										ng-click="agregarPerfilProducto();"
										class="btn m-b-xs btn-sm btn-success btn-addon"> <i
										class="fa fa-arrow-right"></i>Agregar&nbsp;&nbsp;&nbsp;
									</a><br>
								</div>
								<div style="text-align: center">
									<a ng-disabled="!itemPerfilProducto.selected"
										ng-click="removerPerfilProducto();"
										class="btn m-b-xs btn btn-sm btn-danger btn-addon"> <i
										class="fa fa-arrow-left "></i>Remover
									</a>
								</div>

							</div>

							<div class="col-sm-5 connected" ui-jq="sortable"
								ui-options="{items:'.panel', handle:'.panel-heading', connectWith:'.connected'}">
								<div class="panel panel-success">
									<div class="panel-heading">PERFIL POR EMPRESA</div>
									<ul class="list-group alt">
										<a ng-click="selectPerfilProducto(perfilProducto)"
											ng-show="perfilProducto.estado"
											ng-repeat="perfilProducto in perfilesProducto" 
											class="list-group-item"> <i class="fa icon-user-follow"></i>&nbsp;{{perfilProducto.nombrePerfil}}
										</a>
									</ul>
								</div>

							</div>




						</div>
					</div>
				</div>
			</form>

		</div>

	</div>

	<!-- FORMULARIO -->
	<div class="col-sm-12" ng-show="nuevo && !perfil">
		<div class="panel panel-info" draggable="true">
			<div class="panel-heading">
				<a class="btn m-b-xs btn-sm btn-info btn-addon" ng-show="!editar"
					ng-click="guardarItem()" ng-disabled="form.$invalid"
					disabled="disabled"><i class="fa fa-save"></i> Guardar</a> <a
					class="btn m-b-xs btn-sm btn-info btn-addon" ng-show="editar"
					ng-click="actualizarItem()" ng-disabled="form.$invalid"
					disabled="disabled"><i class="fa fa-save"></i> Editar</a> <a
					class="btn m-b-xs btn-sm btn-default btn-addon" ng-show="nuevo"
					ng-click="cancelarItem()"><i class="fa fa-times"></i> Cancelar</a>
			</div>
			<form name="form"
				class="w-full wrapper-md form-validation ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-email ng-valid-validator">
				<div class="col w-full bg-white-only">

					<div class="padder">
						<div class="form-group">
							<label>Ruc</label> <input type="text"
								class="form-control  ng-pristine ng-invalid ng-invalid-required ng-touched"
								ng-model="item.ruc" required>
						</div>
						<div class="form-group">
							<label>Nombre</label> <input type="text"
								class="form-control  ng-pristine ng-invalid ng-invalid-required ng-touched"
								ng-model="item.nombre" required>
						</div>
						<div class="form-group">
							<label>Direcci&oacute;n</label> <input type="text"
								class="form-control  ng-pristine ng-invalid ng-invalid-required ng-touched"
								ng-model="item.direccion" required>
						</div>
						<div class="form-group">
							<label>Tel&eacute;fono</label> <input type="text"
								class="form-control  ng-pristine ng-invalid ng-invalid-required ng-touched"
								ng-model="item.telefono" required>
						</div>

					</div>
				</div>
			</form>
		</div>
	</div>


</div>