<div class="modal-header">
	<h3 class="modal-title">Revisar Orden de Trabajo</h3>
</div>
<div class="modal-body wrapper-lg">
	<div class="row">
		<div class="form-group">
		
			<div class="wrapper-md">
				<div >
					<div text-angular ng-model="htmlVariable" class="btn-groups"></div>
				</div>
			</div>
		</div>

	</div>

</div>

<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">Cancelar</button>
	<button class="btn btn-primary" ng-click="ok()">Aceptar</button>
</div>