<div class="modal-header bg-info">
	<h4>Propagar Archivo de Servicio</h4>
</div>
<div class="modal-body wrapper-lg">
	<div class="alert alert-info" style="text-align: left;">El
		servicio elegido ser&aacute; propagado hacia todos los equipos
		seleccionados</div>

	<div class="panel panel-info">
		<div class="panel-header"></div>
		<div class="panel-body" ng-init="init()">

			<div class="row">
				<div class="col-sm-3">
					<label>Servicio: {{objeto.tarea.tarea.nombre}} </label> <label>Archivo:</label>
					<span class="label bg-primary">{{objeto.tarea.
						archivoTarea}}</span>

				</div>
			</div>
			<ul class="list-group">
				<li class="list-group-item"
					ng-repeat="s in objeto.dto.detalleServicio"> <strong>{{s.detalleNotapedido.producto.nombre}}</strong> Serie:{{s.detalleNotapedido.producto.serie}}
					<ul class="list-group" ng-repeat="t in s.listaTareas">
						<li class="list-group-item"><label class="i-checks m-b-none">
								<input type="checkbox" ng-model="t.check" ng-checked="false"
								ng-click="cambiar(t)"><i></i>
						</label>{{t.tarea.nombre}}</li>


					</ul></li>
			</ul>


		</div>
		<div class="panel-footer"></div>

	</div>

</div>
<div class="modal-footer">
	<button class="btn btn-success" ng-click="aceptar()">Aceptar</button>
	<button class="btn btn-default" ng-click="cancel()">Cerrar</button>
</div>
