<toaster-container
	toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<div ng-controller="calibracionCtrl" ng-init="init()">
	<div class="bg-light lter b-b wrapper-md">
		<h1 class="m-n font-thin h4">
			<i class="fa fa-cubes"></i>Registro de Instrumentos
		</h1>
	</div>
	<div class="wrapper-md" ng-show="!nuevo">
		<div class="panel panel-info">
<!--			<div class="panel-heading">
				<a class="btn m-b-xs btn-sm btn-success btn-addon"
					ng-click="nuevoItem()"><i class="fa fa-plus"></i>Agregar</a> </span>
			</div>
-->			<div class="table-responsive" ng-if="dispositivos!=undefined||null">

				<table ui-jq="dataTable" class="table table-striped m-b-none"
					ui-options="{oLanguage: {sUrl: 'vendor/jquery/datatables/spanish.txt'}}">
					<thead>
						<tr>
							<th>#</th>
							<th>Serie</th>
							<th>Nombre</th>
							<th>Modelo</th>
							<th>Fabricante</th>
							<th>Graduaci&oacute;n</th>
							<th>Rango</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="p in dispositivos">
							<td>{{$index+1}}</td>
							<td>{{p.serie}}</td>
							<td>{{p.nombre}}</td>
							<td>{{p.modelo}}</td>
							<td>{{p.fabricante}}</td>
							<td>{{p.graduacion}}</td>
							<td>{{p.rango}}</td>
							<td>
								<button class="btn btn-sm btn-icon btn-info"
									ng-click="editarItem(p)" tooltip="Editar registro">
									<i class="fa fa-pencil"></i>
								</button>
							</td>
							<td style="width: 1px">
								<button class="btn btn-sm btn-icon btn-danger"
									ng-click="eliminarItem(p)" tooltip="Eliminar registro">
									<i class="fa fa-times"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="table-responsive" ng-if="instrumentos!=undefined||null">

				<table ui-jq="dataTable" class="table table-striped m-b-none"
					ui-options="{oLanguage: {sUrl: 'vendor/jquery/datatables/spanish.txt'}}">
					<thead>
						<tr>
							<th>#</th>
							<th>Serie</th>
							<th>Nombre</th>
							<th>Modelo</th>
							<th>Fabricante</th>
							<th>Graduaci&oacute;n</th>
							<th>Rango</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="p in instrumentos">
							<td>{{$index+1}}</td>
							<td>{{p.serie}}</td>
							<td>{{p.nombre}}</td>
							<td>{{p.modelo}}</td>
							<td>{{p.fabricante}}</td>
							<td>{{p.graduacion}}</td>
							<td>{{p.rango}}</td>
							<td><button class="btn btn-sm btn-icon btn-info"
									ng-click="editarItem(p)" tooltip="Editar registro">
									<i class="fa fa-pencil"></i>
								</button></td>
							<td style="width: 1px"><button
									class="btn btn-sm btn-icon btn-danger"
									ng-click="eliminarItem(p)" tooltip="Eliminar registro">
									<i class="fa fa-times"></i>
								</button></td>


						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

	<!-- FORMULARIO -->
	<div class="col-sm-12" ng-show="nuevo">
		<div class="panel panel-info" draggable="true">
			<div class="panel-heading">
				<a class="btn m-b-xs btn-sm btn-info btn-addon" ng-show="!editar"
					ng-click="guardarItem()" ng-disabled="form.$invalid"
					disabled="disabled"><i class="fa fa-save"></i> Guardar</a> <a
					class="btn m-b-xs btn-sm btn-info btn-addon" ng-show="editar"
					ng-click="actualizarItem()" ng-disabled="form.$invalid"
					disabled="disabled"><i class="fa fa-save"></i> Editar</a> <a
					class="btn m-b-xs btn-sm btn-default btn-addon" ng-show="nuevo"
					ng-click="cancelarItem()"><i class="fa fa-times"></i> Cancelar</a>
			</div>
			<form name="form"
				class="w-full wrapper-md form-validation ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-email ng-valid-validator">
				<div class="col w-full bg-white-only">
					<div class="padder">
						<div class="panel-body">
							<div class="form-group pull-in clearfix ">
								<div class="row">
									<div class="col-sm-5">
										<label>Nombre</label> <input type="text"
											class="form-control  ng-pristine ng-invalid ng-invalid-required ng-touched"
											ng-model="item.nombre" required>
									</div>
									<div class="col-sm-2">
										<label>Serie</label> <input type="text"
											class="form-control  ng-pristine ng-invalid ng-invalid-required ng-touched"
											ng-model="item.serie" required>
									</div>
									<div class="col-sm-4">
										<label>Modelo</label> <input type="text"
											class="form-control  ng-pristine ng-invalid ng-invalid-required ng-touched"
											ng-model="item.modelo" required>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-5">
										<label>Fabricante</label> <input type="text"
											class="form-control  ng-pristine ng-invalid ng-invalid-required ng-touched"
											ng-model="item.fabricante" required>
									</div>

									<div class="col-sm-2">
										<label>Rango</label> <input type="text"
											class="form-control  ng-pristine ng-invalid ng-invalid-required ng-touched"
											ng-model="item.rango" >
									</div>
									<div class="col-sm-4">
										<label>Graduaci&oacute;n</label> <input type="text"
											class="form-control  ng-pristine ng-invalid ng-invalid-required ng-touched"
											ng-model="item.graduacion" >
									</div>

								</div>



							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>