<toaster-container
	toaster-options="{'position-class': 'toast-top-right', 'close-button':true}">
</toaster-container>
<div ng-controller="historiaCtrl" ng-init="init()">
	<div class="bg-light lter b-b wrapper-md">
		<h1 class="m-n font-thin h4">
			<i class="fa fa-cubes"></i>
			Historia
		</h1>
	</div>
	<div class="wrapper-md">
		<div class="panel panel-info">
			<div class="row">
				<div class="col-md-12">
					<div class="panel-heading">
						<span class="pull-right">
							<i class="fa fa-car"></i>
							Tablero de zonas
						</span>
						<div class="col-md-6">
							<div class="input-group">
								<input type="text" class="form-control" datepicker-popup="{{format}}"
									ng-model="dt" is-open="opened" max-date="hoy"
									datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
									ng-required="true" close-text="Cerrar" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col-md-2">
							<div class="input-group">
								<a class="btn m-b-xs btn-sm btn-success btn-addon"
									ng-click="traertablero()">
									<i class="fa fa-search"></i>
									Buscar
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="table-responsive" ng-show="tabla.tablero!=undefined">
				<table class="table table-striped m-b-none">
					<thead>
						<tr>
							<th colspan="2" class="text-center">
								<i class="fa fa-car"></i>
								UNIDAD
							</th>
							<th ng-repeat="z in zonas" colspan="3" class="text-center">
								{{z.nombreZona}} |
								<span class="badge bg-primary">
									<i class="icon-clock"></i>
									{{z.tiempo}}
								</span>
							</th>
						</tr>
						<tr>
							<th class="text-center">Cod.Vuelta</th>
							<th class="text-center">Unidad</th>
							<th ng-repeat-start="z in zonas" colspan="1" class="text-center">H.Programada</th>
							<th ng-repeat-end ng-repeat="cab in columnas" colspan="1"
								class="text-center">{{cab.nombre}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="d in tabla.tablero">
							<td class="text-center"><button
									class="btn btn-sm btn-icon btn-default"
									ng-click="imprimir(d.dispositivoTableroDto)">
									<i class="fa fa-print"></i>
								</button> <span class="badge bg-info">{{d.dispositivoTableroDto.numeroVuelta}}</span></td>
							<td class="text-center">{{d.dispositivoTableroDto.dispositivo}}</td>
							<td ng-repeat-start="h in d.listaHoras" colspan="1"
								class="text-center" style="padding: 2px">

								<div class="input-group m-b"
									ng-show="h.muestra==null || h.muestra==false ">
									<span class="input-group-btn">
										<button class="btn btn-xs btn-icon btn-success"
											ng-show="h.inicioZona" ng-click="h.muestra=true">
											<i class="fa fa-clock-o"></i>
										</button>
									</span> <input type="text" class="form-control"
										ng-model="h.horaProgramadaTmp" ng-show="h.codigo!=null"
										ng-disabled="(h.muestra==null || h.muestra==false)" />
								</div>

								<div ng-show="h.muestra==true ">
									<div class="input-group m-b">
										<span class="input-group-btn">

											<button class="btn btn-xs  btn-info" ng-show="h.inicioZona"
												ng-click="editarLocalizacion(h)">
												<i class="fa fa-check"></i>
											</button>
											<button class="btn btn-xs  btn-danger" ng-show="h.inicioZona"
												ng-click="cancelaLocalizacion(h)">
												<i class="fa fa-times"></i>
											</button>


										</span> <input type="text" ui-mask="99:99:99" model-view-value="true"
											class="form-control" ng-model="h.horaProgramadaTmp"
											ng-show="h.codigo!=null" ng-disabled="!h.inicioZona "
											style="padding: 2px 2px; font-size: 12px;" />
									</div>
								</div>





							</td>
							<td ng-repeat-end ng-repeat="cab in columnas" colspan="1"
								class="text-center"><span ng-if="cab.nombre=='Hora'">{{h.horaSalida}}</span>
								<span ng-if="cab.nombre=='Diferencia'"><span
									ng-class="{true:'label bg-info', false:'label bg-danger'}[h.cumpleTiempo]">{{h.diferenciaTiempo}}</span>
							</span></td>

						</tr>

					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>

<script type="text/ng-template" id="visualizador.html">
<div  ng-init="visualizarPDF()">
	<div class="wrapper-md">
		<div class="some-pdf-container" style="width: 100%;height: 500px" >
			<pdfjs-viewer open="true" src="{{ pdf.src }}" height="500px"></pdfjs-viewer>
		</div>
		<div class="modal-footer">
			<a class="btn m-b-xs btn-sm btn-success btn-addon"
				ng-click="cancelar()">
				<i class="fa fa-close"></i>
		    	Cancelar
			</a>
		</div>
	</div>
</div>
</script>
